.profile{
    display:flex;
    flex-direction:column;
  background-color: black;
    margin-top:100px;
padding-top: 30px;
color:aliceblue;

}
.profile_sidebar{
    width:100%;
    border-right:rgb(207, 201, 201) 2px solid;
    height:100%;
}
.profile_body{
flex:100%;
display:flex;
flex-direction:column;
justify-content: space-evenly;
}
.modal-show{
    display:block;
    position:fixed;
    top:1px;
    right:10px;
}


@media only screen and (max-width: 800px) {
    
}