.suggestion{
    color:black;
    border-left:2px white solid;
    width:20%;
    height:88%;
   top:120px;
    position:fixed;
    overflow-y: scroll;
    border-radius:10px;
     background-color:white;
  
    font-weight:600;
    
    
}
::-webkit-scrollbar {
    width: 0.1em; /* Set a very narrow scrollbar width */
}

::-webkit-scrollbar-thumb {
    background-color: transparent; /* Make the scrollbar thumb transparent */
}
 .suggestion_body{
    display:flex;
    flex-direction:column;
    margin-left: 10px;
} 
.suggestions_title{
    padding:0.5vw;
   text-align:center;
    z-index:2;
    position: sticky;
    margin-bottom: 10px;
    top: 0;
    color:aliceblue;
   
    background-color: black;
    
font-size: 2.3vw;


}

@media only screen and (max-width: 500px) {
    .suggestion{
        width:30vw;
        height:68%;
    }
}
