.create-post-container{

    margin:auto;
    margin-top:150px;
    display:flex;
    flex-direction:column;
    height:32vw;
    width:60vw;
border:2px solid rgb(240, 236, 236);
border-radius:10px; ;

}
.post-preview{
    height:50%;
   
    display:flex;
justify-content: center;
align-items: center;
padding:10px 0 10px 0;
}
.create-post-select{
    height:15%;
    
    padding-left:10px;
    padding-top:5px;
}
.create-post-select textarea{
    height:80%;
    
}
.create-post-head{
    height:10%;
 border-bottom:1px rgb(243, 243, 243) solid;
    display:flex;
    color:white;
}
.create-post-user{
    height:100%;
   width:40%;
    display:flex;
   

}
.create-post-heading{
    width:80%;
    text-align:center;
    padding-bottom:15px;
    font-size:28px;
    font-weight:800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.create-post-share{
    width:20%;
    display:flex;
    font-size:15px;
    font-weight:600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.create-post-share img{
    width:35px;
    height:30px;
    padding:10px;
}
.create-post-share div{
   font-size:15px;
   font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top:10px;
    color:#6ae1ed;
    cursor:pointer;

}
.create-post-user-image{
    width:15%;
    height:40%;
    padding :10px 0px 10px 10px;
    border-radius: 50%;
}
.create-post-user-image img{
    width:100%;
    height:100%;
    border-radius: 50%;
}
.create-post-user-name{
    padding-top:30px;
    padding-left:20px;
    font-weight: 700;
    font-size: 18px;;
}
.post-preview img{
    width:50%;
    height:100%;
border-radius:6px;
}
.create-post-footer{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    color:aliceblue;
}
.create-post-caption{
    width:60%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.create-post-caption input{
    width:80%;
    height:40%;
    border-radius:8px;
    border:black solid 1px;
}

.post-preview-update{
    height:45%;
   width:50%;
    display:flex;
justify-content: center;
align-items: center;
border-radius:50%;
padding:10px 0 10px 0;
overflow: hidden;
}
.post-preview-update img{
    width:50%;
    height:100%;

    border-radius:50%;
}


@media only screen and (max-width: 1000px) {
.create-post-caption textarea{
    width:40vw;
    height:4vw;
}
.create-post-container{
    width:80vw;
    height:42vw;
}
.create-post-heading{
    font-size:2.8vw;
}
}
@media only screen and (max-width: 640px) {
    .create-post-caption textarea{
        width:40vw;
        height:4vw;
        font-size:2.5vw
    }
    .create-post-container{
        width:80vw;
        height:62vw;
    }
    .create-post-heading{
        font-size:2.8vw;
    }
    .create-post-user-name{
        font-size:2.8vw;
        padding-left: 0.5vw;
    }
    .create-post-user-image {
        border-radius: 50%;
        height: 8vw;
        padding: 10px 0 10px 10px;
        width: 8vw;
    }
    }

    
@media only screen and (max-width: 400px) {
    .create-post-caption textarea{
        width:40vw;
        height:4vw;
        font-size:2.5vw
    }
    .create-post-container{
        width:80vw;
        height:82vw;
    }
    .create-post-heading {
        font-size: 3.8vw;
        padding-top: 1vw;
    }
    .create-post-user-name{
        font-size:2.8vw;
        padding-left: 0.5vw;
    }
    
.create-post-user-image{
    width:10vw;
    height:10vw;
}
.create-post-share div{
    font-size:3vw;
}
    }
    
    

