.post-box{
    width:60vw;
    z-index:2;
    display:flex;
    overflow:hidden;
    margin-bottom:20px;
   
    
}
.post{

    width:25vw;
    margin-bottom: 30px;
    color:black;
    font-weight: 800;
    
    border-radius:10px;
    padding :10px;
    background-color: #ffffff;
}
.post_image img{

    height:20vw;
    width:23vw;
    margin:auto;
    margin-top: 10px;
    border-radius: 5px;
}
.post_header{
    display:flex;

}
.post_header_left{
    flex:0.8;
}
.post_header_left img{
    height:5vw;
    width:5vw;
    border-radius:50%;
    border:0px #787a84 solid;
    
    /* border:rgb(117, 107, 107) 0.4px solid; */
  cursor:pointer;
}
.post_header_left span{
    position:relative;
    top:-20px;
    left:5px;
    cursor:pointer;
    font-size:1.5vw;
}
.post_header_left #time{
    margin-left:12px;
    font-size: 13px;
    color: rgb(20, 19, 19);
}
.post_header_right{
    flex:0.2;
    position: relative;
    top:18px;
    right:-30px;
}
.post_header_right img{
    height:40px;
    margin:10px;
    width:40px;
    cursor:pointer;
}
.post_footer{
    display: flex;
    flex-direction:column;
}
.post_lefticons{
    width:40%;
    display:flex;
    justify-content: space-evenly;
}
.post_righticons{
   width:10%;
   height:40px;
   margin:10px;
   
}
.post_righticons img{
    height:40px;
    margin:10px;
    width:40px; 
    cursor:pointer;
}
.post_lefticons img{
height:3.1vw;
margin:5px 10px -20px 5px;
width:3.1vw;
cursor:pointer;
}
.footer_icons{
    display: flex;
    justify-content:space-between;
}
.add-comment input{
    width:70%;
    height:1.6vw;
    padding:2px;
    
}
.add-comment button{
    width:22%;
    justify-content: space-evenly;
    margin-left:5px;
    border-radius:5px;
    border: 1px black solid;
}
.add-comment{
    margin-top:10px;
    display:flex;
    width:100%;
}
.add-comment img{
    height:2vw;
    margin-right:3px;
    width:2vw;
    cursor:pointer;
    }
    .caption{
        font-weight: 500;
        margin-bottom:10px;
        font-size:1.3vw;
    }
    .likes-count{
        font-weight:900;
        margin-bottom:10px;
        margin-top:-10px;
        font-size:1.2vw;
    }
    .like-icon{
cursor:pointer;
    }
    .view-comments{
        color:rgb(91, 91, 89);
        font-weight:600;
        cursor:pointer;
        font-size:1.2vw;
        
    }
    .show-comment-container{
        width:25vw;
        border-radius:10px;
        
    background-color: rgb(177, 177, 188);
        border:1px black solid;
        display:flex;
        overflow:hidden;
        display:flex;
        flex-direction:column;
        justify-content:space-evenly;
        height:40vw;
        margin-left:10px;
        padding:10px;
    }
    .comment-section-main{
        width:100%;
        height:90%;
        overflow-y:scroll;
    }
    
.comment-section-header{
width:100%;
height:8%;
text-align:center;
font-size:30px;
font-family:Georgia, 'Times New Roman', Times, serif;
font-weight:800;
padding-top:15px;

}
.comment-ind{
    width:23vw;
    height:auto;
    padding:5px 10px 20px 10px;
    background-color: rgb(241, 240, 243);
    /* border:1px solid black; */
    margin-bottom:20px;
    border-radius: 10px;;
    position:relative;
}
.comment-ind-details{
    height:15px;
    font-size:14px;
    font-weight:600;
    color:rgb(37, 36, 36);
    margin-bottom:20px;
}
.comment-ind-body{
    color:rgb(49, 49, 48)
}
.comment-ind-body div img{
    width:10px;
    height:10px;
}
.show-comment-cancel{
    position: relative;
}
.show-comment-cancel img{
width: 25px;
height:25px;
position: absolute;
right:10px;
top:10px;
cursor:pointer;
}
.comment_ind_cut{
    width:25px;
    height:25px;
    position:absolute;
right:10px;
top:10px;
cursor:pointer;
}
.comment_ind_cut img{
    width:70%;
    height:70%;
}

@media only screen and (max-width: 800px) {
    .post_header_left img{
        height:10vw;
        width:10vw;
        
    }
    .comment-section-header{
        font-size:3vw;
        font-weight:600;
        
        
        }
        .show-comment-cancel img{
            width: 3vw;
            height:3vw;
            
            right:5px;
            top:5px;
           
            }
            .likes-count,.view-comments,.post_header_left span{
                font-size:2.1vw;
            }
           .caption{
            font-size:2vw;
           }
           .add-comment button ,.add-comment input{
            font-size:2vw;
           }
  }

  
  
@media only screen and (max-width: 500px) {
    .post{
        width:50vw;
       
       
        
    }
    .post_image img {
        width:48vw;
        height:35vw;
    }
.footer_icons{
    height:10vw;
}



    .post_header_left img{
        height:10vw;
        width:10vw;
        
    }
    .comment-section-header{
        font-size:3vw;
        font-weight:600;
        
        
        }
        .show-comment-cancel img{
            width: 3vw;
            height:3vw;
            
            right:5px;
            top:5px;
           
            }
            .likes-count,.view-comments,.post_header_left span{
                font-size:2.1vw;
            }
           .caption{
            font-size:2vw;
           }
           .add-comment button ,.add-comment input{
            font-size:2vw;
           }
  }

