.forgot{
    height:20vw;
    margin-top:180px;
}
.forgot-newpass{
    height:25vw;
}
.forgot-signup-box{
    height:15vw;
}


    

@media only screen and (max-width: 900px) {
    .forgot-password-box{
        width:50vw;
        height:50vw;
        margin-top:10vw;
    }
    .forgot-website_name{
        font-size:5vw;
    }
    .forgot-login_title{
        font-size:3.5vw;
    }
    
.forgot-email_box{
    font-size:3vw;
width:40vw;
height:5vw;
}
.forgot-email_next_button{
    width:20vw;
    height:4.5vw;
    font-size:2vw;
}

/*********************************************/
.forgot-password-box-password{

    width:50vw;
    height:50vw;margin-top:10vw;
    font-size:3vw;
}
.confirm-pass,.new-pass{
    padding-left:2vw;
    font-size:2.3vw;
width:30vw;
height:5vw;
}

.website_name-password{
    font-size:5vw;
    }
    .email_next_btn{
        width:22vw;
        height:5vw;
        font-size:2.3vw;
    
    }

}
@media only screen and (max-width: 480px) {
    .forgot {
        height: 120vw;
        margin-top: 18vw;
        width: 80vw;
    }
    .forgot-newpass{ height: 120vw;
        margin-top: 18vw;
        width: 80vw;
    }
    .forgot-signup-box{
        height:105vw;
    }
    .signup-email_box {
        font-size: 3.5vw;
        width: 60vw;
        height: 10vw;
        margin-bottom: 5vw;
    }


    .forgot-password-box{
        width:80vw;
        height:70vw;
        margin-top:40vw;
    }
    .forgot-website_name{
        
    font-size:8vw;
    }
    .forgot-login_title{
        font-size:5.5vw;
    }
    
.forgot-email_box{
    font-size:4.5vw;
width:60vw;
height:10vw;
}
.forgot-email_next_button{
    width:42vw;
    height:6.5vw;
    font-size:4vw;
} 

/****************************************/


.forgot-password-box-password{

    width:80vw;
    height:70vw;margin-top:40vw;
    font-size:4.2vw;
}
.confirm-pass,.new-pass{
    padding-left:2vw;
    font-size:4.3vw;
width:60vw;
height:10vw;
}

.website_name-password{
    font-size:8vw;
    }
    .email_next_btn{
        width:42vw;
        height:8vw;
        font-size:4.3vw;
    
    }
    .login_title{
        margin-top: 5vw;
    }
}