html{
    background-color: black;
}
.login{
   
    height:40vw;
    width:35vw;
    margin: auto;
    border:1px solid white;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    border-radius: 2vw;
    margin-top:100px;
}
.website_name{
    margin: auto;
    margin-bottom:2vw;

font-size:3.2vw;
color:white;
}
.login_title{
    
    margin: auto;
    color:white;

    font-size:2.1vw;
}
.login_other_methods{
    height:5vw;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}
.email_login{
   margin-top:2vw;
    display:flex;
    flex-direction:column;
    text-align: center;
    justify-content:space-around;
}

.no_account{
    color:white;
    margin-top:4vw;
}


.google_login{
    width:25vw;
    height:2.5vw;
margin:auto;
border: none;
border-radius:2vw;
color:black;
font-weight:500;
font-size: 1.5vw;
}
 .facebook_login{
    width:340px;
height:40px;
margin:auto;
border: none;
border-radius:20px;
 }
 .email_box{
    width:22vw;
    
    height:4vw;
    margin:auto;  
    text-align: center;
    background-color: rgba(98, 97, 95, 0.12);
    border: 0.5px solid white;
    border-radius:7px;
    color:azure;
    font-size: 1.5vw;
    font-weight:500;

 }
 .email_box_password{
    width:22vw;
    height:4vw;
    
    margin:auto;  
    text-align: center;
    background-color: rgba(98, 97, 95, 0.12);
    border: 0.5px solid white;
    border-radius:7px;
    color:azure;
    
font-size: 1.5vw;
    margin-top:10px;

 }
 
.forgot_password_button{
    width:15vw;
height:3vw;
    border-radius:20px;
    margin:auto;  
    border: none;
    border-radius:20px;
    background-color: rgb(12, 11, 11);
    font-size: 1.2vw;
    font-weight: 700;
    color:azure;
    border:1px white solid;
    margin-top:1vw;
}
.email_next_button{
    width:10vw;
    height:3vw;
    margin:auto;  
    border: none;
    border-radius:1.2vw;
    font-size: 1.2vw;
    font-weight: 700;
    margin-top:1vw;
}
.no_account{
    text-align: center;
 
    font-size: 1.5;
    margin-bottom:30px;
    cursor:pointer;
}

.login_other_methods img{
    height:2vw;
    width:2vw;
}
.login_other_methods span{
position:relative;
top:-10px;
color:rgb(54, 53, 53);
font-size:1.3vw;
margin-right: 10px;
font-weight: 600;
}



@media only screen and (max-width: 900px) {
    .login{
        width:50vw;
        height:55vw;
    }
    .website_name{
        font-size:5vw;
    }
    .login_title{
        font-size:3.5vw;
    }
    .google_login{
        width:30vw;
        height:4vw;
    }
    
.login_other_methods img{
    height:3.4vw;
    width:3.4vw;
}
.login_other_methods span{
position:relative;
top:-10px;
color:rgb(54, 53, 53);
font-size:1.5vw;
margin-right: 10px;
font-weight: 600;
}
}
@media only screen and (max-width: 570px) {
    .login{
        width:80vw;
        height:98vw;
    }
    .website_name{
        font-size:7vw;
    }
    .login_title{
        font-size:4.5vw;
    }
    .email_box{
        width: 60vw;
        height:9vw;
        font-size:4.3vw;
    }
    .email_box_password{
        
        font-size:4.3vw;
        width: 60vw;
        height:9vw;
    }
    .no_account{
        font-size:4vw;
    }
    .email_next_button{
        
        width:25vw;
        height:7vw;
        font-size:3.5vw;
    }
    .forgot_password_button{
        width:35vw;
        height:7vw;
        font-size:3.1vw;
        font-weight:500;
    }
    .google_login{
        width:50vw;
        margin-top:2vw;
        height:7vw;
        font-size:3.1vw;
        font-weight:500;
    }
    
    .email_login {
        height: 50vw;
    }
       
.login_other_methods img{
    height:5.4vw;
    width:5.4vw;
}
.login_other_methods span{
position:relative;
top:-5px;
color:rgb(54, 53, 53);
font-size:3vw;
margin-right: 10px;
font-weight: 600;
}
}