.modal-show{
    background-color:rgba(8, 8, 8, 0.8);
    width:100vw;
    height:100vh;
    z-index:10;
    display:flex;
    justify-content: center;
    align-items: center;
}
.modal-container{
    margin-top:100px;
    width:30vw;
    height:15vw;
background-color: rgb(217, 221, 221);
display:flex;
flex-direction:column;
justify-content:space-evenly;
align-items:center;
position: relative;
border-radius:8px;
}
.modal-cut{
    width:3vw;
    position:absolute;
    top:10px;
    right:10px;
}
.modal-cut img{
    width:3vw;
    height:3vw;
}
.modal-header{
    width:60%;
    font-size:20px;
    font-weight:700;
}
.modal-footer button{
width:10vw;
height:3vw;
margin-left:20px;
border:2px black solid;
border-radius:3px;
font-weight:700;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.modal-cancel{
    background-color: rgb(5, 83, 151);
}
.modal-logout{
    background-color: rgb(201, 6, 6);
}
.modal-cut-update {
    width:3vw;
    position:absolute;
    top:10px;
    right:10px;
}
.modal-cut-update img{
    width:2vw;
    height:2vw;
    
}
.modal-container-update{
    width:40vw;
    height:25vw;
    margin-top:100px;
   
background-color: rgb(217, 221, 221);
display:flex;
flex-direction:column;
justify-content:space-evenly;
align-items:center;
position: relative;
border-radius:8px;
}



.modal-container-logout{
    margin-top:100px;
    width:35vw;
    height:25vw;
background-color: rgb(217, 221, 221,0.8);
display:flex;
flex-direction:column;
justify-content:space-evenly;
align-items:center;
position: relative;
border-radius:8px;
}
.modal-header-logout{

    width:60%;
    font-size:1.5vw;
    font-weight:700;

}
.modal-footer-logout button{

    width:10vw;
    height:3vw;
    margin-left:20px;
    border:2px black solid;
    border-radius:3px;
    font-weight:700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:1vw;
}
@media only screen and (max-width: 800px) {
    .modal-header{
        font-size:4vw;
    }
    .modal-footer button{
        font-size:2vw;
        height:4vw;
        width:15vw;
    }
    .modal-container-update{
        height:35vw;
        width:65vw;
    }
}
@media only screen and (max-width: 500px){
    .modal-header{
        font-size:4vw;
    }
    .modal-footer button{
     
        height: 6vw;
        font-size: 3vw;
        width: 20vw;
    }
    .modal-container-update{
        height:65vw;
        width:65vw;
    }
    .post-preview-update{
        width:40vw;
        height:20vw;
    }
    .modal-cut-update img {
        height: 5vw;
        width: 5vw;
    }
    .create-post-select input {
     
        font-size: 2.5vw;
    }
}


@media only screen and (max-width: 670px){



.modal-container-logout{
width:80vw;
height:40vw;
}
    .modal-header-logout{
    
        width:60%;
        font-size:3.5vw;
        font-weight:700;
    
    }
    .modal-footer-logout button{
    
    height: 5vw;
    margin-left: 20px;
    width: 15vw;
    font-size:2vw;
    }
}
